@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #19282F;
    --cor-secundaria: #E9EFBA;
    --cor-terciaria: #810000;
    --cor-hover: #FFEE63;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(/imagens/Fundo\ textura.jpg);
    box-sizing: border-box;
    color: var(--cor-secundaria);
}



.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    width: 150px;
    text-align: center;
    
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.foto__apresentacao {
    border-radius: 8px;
    border: 4px solid var(--cor-terciaria);
    width: 50%;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    border: #989898;
}

.apresentacao__conteudo__titulo__pais {
    display: flex;
    justify-content: center;
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    padding-top: 70px;
}


.apresentacao__conteudo__texto__pais {
    text-align: center;
    padding: 2%;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
}

.galeria__fotos {
    padding: 8.5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
} 

.galeria__fotos__foto {
    width: 300px;
    border-radius: 8px;
    border: 4px solid #810000;
}

.rodape {
    background-color: var(--cor-terciaria);
    padding: 23.64px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;

    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% ;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__conteudo__titulo__pais {
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;

    }    
}
